<div id="creation">
  <%= simple_form_for @cocktail do |f| %>
  <h1>Create a Cocktail</h1>
    <%= f.input :name%>
    <%= f.input :glass%>
    <%= f.input :tools, placeholder: "Ex. muddler, shaker, stirring rod..." %>
    <%= f.input :liquor, placeholder: "Ex. .5oz whiskey, 1oz lemon juice, .25oz simple syruo..." %>
    <%= f.input :garnish, placeholder: "Ex. cherry, orange slice, lime wedge..." %>
    <%= f.input :image %>
    <%= f.input :desrciption%>
    <%= f.input :instruction, placeholder: "Seperate steps by comma, dont include numbers"%>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
